@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

:root {
  --primary-color: #6584F1;
  --secondary-color: #8298E7;
  --btn-color: #518CE4;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Jacques Francois", serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav {
  background-color: var(--primary-color);

  --img1: scale(1);
  --img2: scale(0);
}

.nav:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);

  --clip: inset(0 0 0 0);
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  height: 110px;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "title img";
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.nav__logo {
  width:150px;
  height: 110px;
}

.nav__menu {
  grid-area: img;
  position: relative;
  z-index: 10;

  transform: var(--img1);
}

.nav__menu--second {
  transform: var(--img2);
}

.nav__icon {
  width: 30px;
  display: block;
}

.dropdown {
  position: absolute;

  background-color: var(--primary-color);
  width: 50%;
  max-width: 300px;

  right: 0;
  top: 0;
  bottom: 0;

  padding: 1rem;

  display: grid;
  align-content: center;
  gap: 2rem;

  clip-path: var(--clip, inset(0 0 0 100%));
  transition: clip-path .3s;
}

.dropdown__list {
  list-style: none;
}

.dropdown__link,
.toogle__container {

  display: flex;
  gap: .6rem;
  align-items: center;


  color: var(--white);
  padding: 1em .7em;
  text-decoration: none;
}

/*--toggle-styles--*/

.toogle__switch {
  display: inline-block;

  position: relative;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.toogle__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toogle__slider {
  border-radius: 34px;

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.toogle__slider:before {

  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: white;

  height: 26px;
  width: 26px;

  left: 4px;
  bottom: 4px;
  
  transition: .4s;
}

input:checked + .toogle__slider {
  background-color: #2196F3;
}

input:checked + .toogle__slider:before {
  transform: translateX(26px);
}

.content {
  text-align: center;
}

/*--end-toggle-styles--*/

section {
  margin-bottom: 25px;
}

.hero {
  margin-top: -16px;
  margin-bottom: 0;
}

.hero__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.hero__img {
  width: 100%;
}

.hero__paragraph {
  padding: 5rem;
  margin: 1.5rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.hero__paragraph > p {
  margin: 1.5rem;
}

.hero__btn {
  width: 200px;
  padding: 10px 20px;
  color: var(--black);
  text-decoration: none;
  border-radius: 999999px;
  background-color: var(--btn-color);
}

.hero__btn:hover {
  cursor: pointer;
  background-color: #6BC1F1;
}

.hero__paragraph > h1 {
  font-size: 50px;
  font-weight: 100;
}

.functionality {
  width: 100%;
}

.functionality__container {
  padding: 3rem;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature__item {
  display: flex;
  gap: .5rem;
}

.functionality__image {
  display: none;
}

/*recommendations */
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto auto 25px auto;
  border-radius: 1rem;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.testimonials__text {
  margin: 20px 0;
}

.testimonials__header {
  width: 80%;
  text-align: center;
}

.testimonials__cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.testimonials__card {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.testimonials__card:hover {
  transform: translateY(-10px);
}

.testimonials__card-header {
  display: flex;
  margin-bottom: 15px;
}

.testimonials__card-header h4 {
  font-size: 20px;
  margin-left: 15px;
  margin-top: 12px;
}

.testimonials__card-body p {
  text-align: justify;
}

.testimonials__card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__social,
.footer__contact {
  max-width: 300px;
  text-align: center;
}

.footer__social h2,
.footer__contact h2 {
  margin-bottom: 1rem;
}

.footer__social p {
  margin-bottom: 1.5rem;
}

.social__logos {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.social__logo {
  width: 30px;
}

.contact__group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact__logo {
  width: 20px;
}

.contact__group a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
}

.footer__container {
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.footer__social > p,
.footer__contact {
  text-align: justify;
}

.contact__group {
  justify-content: flex-start;
}

@media screen and (min-width: 700px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
  }

  .contact__group {
    justify-content: flex-start;
  }

  .footer__social,
  .footer__contact {
    max-width: none;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu, .nav__menu--second {
    display: none;
  }

  .dropdown {
    position: static;
    width: auto;
    max-width: none;
    display: flex;
    gap: 1rem;
    clip-path: none;
    padding: 0;
  }

  .dropdown__link {
    margin-top: 20px;
    padding: 0;
  }

  .dropdown__list {
    display: inline-block;
    grid-area: links;
  }

  .nav__icon {
    display: none;
  }

  .hero {
    margin-bottom: 25px;
  }

  .hero__container {
    flex-direction: row;
  }

  .hero__img {
    width: 50%;
    border-radius: 0 0 .5rem 0;
  }

  .hero__paragraph {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonials__header-title {
      white-space: nowrap;
  }

  .testimonials__cards {
    width: 80%;
  }

  .features {
    width: 80%;
    max-width: 700px;
  }

  .functionality__container {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
  }

  .functionality__image {
    display: block;
  }

  .functionality__image > img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }

  .features__card p {
    font-size: 14px;
    margin-top: 8px;
  }
}


/*Subscription section*/
.subscription {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;

    width: 90%;
    margin: auto auto 25px auto;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}


.subscription__title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

#paragraph-subs {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}


#standar-plan, #plus-plan {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px; 
    margin: 2rem; 
    display: inline-block; 
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

#standar-plan {
  background-color: #518CE4;
}

#plus-plan {
  background-color: #6BC1F1;
}

#standar-plan:hover, #plus-plan:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#standar-header, #plus-header {
  background: #6BC1F1;
  padding: 0.5rem;
  border-radius: 8px;
}

#plus-header {
  background-color: #518CE4;
}

#standar-header h2, #plus-header h2 {
  margin: 0;
  color: #333;
  font-weight: bold;
  line-height: 1.2;
}

#standar-price, #plus-price {
  font-size: 2rem;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
}

#standar-period, #plus-period {
  color: black;
  line-height: 1.2;
}

#standar-body, #plus-body {
  padding: 1rem;
  background-color: #518CE4;
}

#plus-body {
  background-color: #6BC1F1;
}

#standar-features, #plus-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

#standar-features li, #plus-features li {
  padding: 0.5rem 0;
  color: white;
  line-height: 1.2;
}

#plus-features li {
  color: black;
}

#standar-footer, #plus-footer {
  background: #518CE4;
  padding: 0.5rem;
}

#plus-footer {
  background-color: #6BC1F1;
}

#standar-button, #plus-button {
  background: #6BC1F1;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#plus-button {
  background-color: #518CE4;
}

@media (max-width: 600px) {
  #standar-plan, #plus-plan {
      width: 90%; 
      margin: 1rem auto; 
  }

  #tittle-subs {
      font-size: 2rem; 
  }

  #paragraph-subs {
      font-size: 1.1rem; 
  }

  #standar-price, #plus-price {
      font-size: 1.8rem; 
  }
}


@media (min-width: 601px) and (max-width: 1024px) {

  #standar-plan, #plus-plan {
      width: 45%; 
      margin: 1.5rem; 
  }

  #tittle-subs {
      font-size: 2.2rem; 
  }

  #paragraph-subs {
      font-size: 1.2rem; 
  }

  #standar-price, #plus-price {
      font-size: 2rem;
  }
}

